body {
    background-color: antiquewhite;
}

.hidden {
    display: none;
}

.inline {
    display: inline;
}

.ariane {
    display: inline;
}

.main-col {
    background: #fff6ea;
    border: 1px solid black;
}

.container-xxl {
    max-width: 1720px;
}

.info {
    font-size: 12px;
    font-style: italic;
}

.margin-top-sm {
    margin-top: 3%;
}

.text-align-end {
    text-align: end;
}

.overflow-container {
    width: 95%;
    height: 80%;
}

/* BREADCRUMB */
.breadcrumb {
    background-color: #adadad;
}

.breadcrumb-item.active {
    color: #3c3c3c;
}

/* BUTTON */
.btn-xs{
    padding: .25rem .5rem;
    font-size: .600rem;
    border-radius: .2rem;
}

/* PLACEHOLDER */
::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
font-style: italic;  
}
::-moz-placeholder {
font-style: italic;  
}
:-ms-input-placeholder {  
font-style: italic; 
}
 

/* HOVERS */
.dark-hover:hover{
    background-color: #d6d8d9;
}