body {
    background-color: antiquewhite;
}

.hidden {
    display: none;
}

.inline {
    display: inline;
}

.ariane {
    display: inline;
}

.col {
    background: #fff6ea;
    border: 1px solid black;
}

.container-xxl {
    max-width: 1720px;
}

.info {
    font-size: 12px;
    font-style: italic;
}

.margin-top-sm {
    margin-top: 3%;
}