<div class="container">
    <h3>A acheter</h3>

    <div class="purchase-to-buy-container">
        {% for purchase in purchases %}
            {% include "purchase/purchase_to_buy_item.html.twig" with {'purchase': purchase} %}
        {% endfor %}
    </div>
    
</div>
<br>