<div class="container">
    <h3>A rembourser</h3>

    <div class="purchase-to-refund-container">
        {% for purchase in purchases %}
            {% include "purchase/purchase_to_refund_item.html.twig" with {'purchase' : purchase} %}
        {% endfor %}
    </div>
    
</div>
<br>