{% if listing is not null %}
    <table class="table table-striped">
        <tr>
            <th>Nom</th>
            <th>Information</th>
            <th></th>
        </tr>
        {% for item in listing.listingItems %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.reference }} </td>
                <td>
                    <button type="button" class="btn btn-sm btn-info purchase-item" data-toggle="modal" data-target="#exampleModal" path="{{ path('listing_item_purchase', {'id': item.id}) }}">Choisir</button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    Ce membre ne possède pas de liste.
{% endif %}